<%= render partial: "layouts/header_index", locals: {chosen_materials: @announcements} %>

<div class="matter">
  <div class="container-fluid">

    <%= render "layouts/messages" %>

    <div class="row-fluid fit-content">

      <table class="table">
        <tr>
          <th>Content</th>
          <th>Day of Semester</th>
          <th>Last Updated</th>
          <th></th>
          <th></th>
        </tr>

      <% @announcements.each do |announcement| %>
        <tr>
          <td><%= announcement.content %></td>
          <td><%= announcement.school_day.ordinal %></td>
          <td><%= announcement.updated_at %></td>
          <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
          <td><%= link_to 'Delete', announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </table>

      <br />

    </div>
  </div>
</div>
