<% if @view_signup %>
  <% signup_display = "" %>
  <% login_display  = "display: none;" %>
<% else %>
  <% signup_display = "display: none;" %>
  <% login_display  = "" %>
<% end %>

<!-- Log In (New Session) -->
<div class="login-form hideable" style='<%= login_display %>'>
  <h1>Log In</h1>
  <%= render "layouts/messages" %>

  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </div>
    
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>

    <div class="actions">
      <%= submit_tag "Log In", class: "landing-btn" %>
    </div>
  <% end %>
</div>


<!-- Sign Up (New User) -->
<div class="signup-form hideable" style='<%= signup_display %>'>
  <h1>Sign up</h1>
  <%# render "layouts/messages" %>

  <%= form_for @user, :html => {:multipart => true} do |f| %>
    <div class="field">
      <%= f.label :full_name, "Full Name *" %>
      <%= f.text_field :full_name %>
    </div>
   
    <!-- <div class="field"> 
      <%# f.label :username, "Username #{mark_required(@user, :username)}" %><br />
      <%# f.text_field :username %>
    </div> -->

    <div class="field">
      <%= f.label :email, "Email *" %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :password, "Password *" %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Password Confirmation *" %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="actions">
      <%= f.submit "#{@action} Submit", class: "landing-btn" %>
    </div>
  <% end %>
</div>

 <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>