<h2>Update Password</h2>
<%= render "layouts/messages" %>

<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit "Update", class: "landing-btn" %></div>
<% end %>

<br>
<p><%= link_to "Back", root_url %></p>