<h2>Reset Password</h2>
<%# render "layouts/messages" %>

<%= form_tag password_resets_path, :method => :post do %>

  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <div class="actions">
    <%= submit_tag "Reset", class: "landing-btn" %>
  </div>

<% end %>

<br>
<p><%= link_to "Back", root_url %></p>