<%= form_for @lecture, :html => {class: "form-horizontal"} do |f| %>
  <% if @lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% @lecture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :creator, class: "control-label" %>
    <div class="controls">
      <%= f.number_field :creator %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, class: "control-label" %>
    <div class="controls">
      <%= f.text_area :content %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :attachment, "Attachment(s)" %> <%= link_to "Create New", new_attachment_path, target: "_blank", class: "btn btn-primary link-btn new-material control-label" %>
    <div class="controls">
      <%= f.collection_select(:attachment_ids, Attachment.order("title"), :id, :title, {:selected => @lecture.attachment_ids, :prompt => "Please Select Attachment(s)"}, {:class => "span4", multiple: "multiple"}) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :school_day, "Select Day(s)", class: "control-label" %>
    <div class="controls">
      <%= f.collection_select(:school_day_ids, SchoolDay.order("ordinal DESC"), :id, :ordinal, {:selected => @lecture.school_day_ids, :prompt => "Please Select Day(s)"}, {:class => "span4 multi-select", multiple: "multiple"}) %>
    </div>
  </div>
  
  <div class="actions inline">
    <%= f.submit "Submit", class: "btn btn-info" %>
  </div>
    <% if @lecture.persisted? %>
      <%= link_to "Cancel", @lecture, class: "btn btn-inverse link-btn" %> 
    <% else %>
      <%= link_to "Cancel", "/", class: "btn btn-inverse link-btn" %> 
    <% end %>
<% end %>
