<div class="page-head">
  <h1>Listing lectures</h1>
</div>

<div class="matter">
  <div class="container-fluid">
    <div class="row-fluid">

      <table class="tablesorter" id="myTable">
        <thead>
        <tr>
          <th>Day</th>
          <th>Creator</th>
          <th>Title</th>
          <th>Content</th>
          <th>Attachments</th>
          <th colspan="3" onclick='return false;'class="not_sortable">Options</th>
        </tr>
      </thead>
      <tbody>
      <% @lectures.each do |lecture| %>
        <% if (lecture.school_days.sort_by{|school_day| school_day.calendar_date}[0].calendar_date <= Date.today) || (can? :edit, @lecture) %>
        <tr>
          <td>
            <h3>
            <%= lecture.school_days.order("ordinal DESC").map{|i| i.ordinal} %>
            </h3>
          </td>    
          <td><%= lecture.creator %></td>
          <td><%= lecture.title %></td>
          <td><%= simple_format lecture.content %></td>
          <td>
            <ol>
            <% lecture.attachments.each do |attachment| %>
              <li>
                <%= link_to attachment.title, attachment.filename.to_s %>
              </li>
            <% end %>
            </ol>
          </td>
          <td><%= link_to 'Show', lecture %></td>
          <% if can? :edit, @lecture %>
            <td><%= link_to 'Edit', edit_lecture_path(lecture) %></td>
            <td><%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
      </tbody>
      </table>

      <br />
      <% if can? :create, @lecture %>
        <%= link_to 'New Lecture', new_lecture_path %>
      <% end %>
    </div>
  </div>
</div>