<div class="page-head">
  <h2>Discussion Stream</h2>

  <ul class="horizontal-list breadcrumb">
    <li>Filter by: </li>
    <% material_type_list.each do |material_type_hash| %>
      <% material_type = material_type_hash[:name] %>
      <% material_icon = material_type_hash[:icon] %>

      <% material_types  = material_type.pluralize %>
      <% material_title  = material_capitalize(material_type) %>
      <% material_titles = material_title.pluralize %>
      
      <li>
        <a href="#">
          <i class="icon-<%= material_icon %>"></i>
          <%= material_titles %>
        </a>
      </li>
      
    <% end %>
  </ul>
  
  <%# link_to 'Start a discussion', "#", class: "btn btn-info link-btn" %>
  <div class="row-fluid fit-content">
    <div class="span9 maxspan minspan">    
      <div class="widget comment-widget">
        <div class="widget-head fit-content transparent">
          <span class="response-button widget-icons">
            <a href="#" class="wminimize">
              <span class="btn btn-primary link-btn">Post New Comment</span>
            </a>
          </span>
          <div class="clearfix"></div>
        </div>

        <div class="widget-content" style="display: none;">
          
          <%= render partial: "comments/new_form", locals: {parent: @commentable, new_comment: @new_comment, default_value: ""} %>

        </div>
      </div>
    </div>
  </div>

</div>

<div class="matter">
  <div class="container-fluid">

    <%= render "layouts/messages" %> 

    <br />

    <div class="row-fluid fit-content">
      <div class="span9 maxspan minspan">

        <ul class="chats">

          <h4><%= pluralize(@comments.size, "Comment") %></h4> 

          <% @comments.each do |comment| %>

            <% comment_parent = comment.commentable_type.classify.constantize.find(comment.commentable_id) %>
            <% comment_parent_type = comment.commentable_type.underscore %>
            <% by_type = comment.user.admin? ? "by-admin" : "" %>

              <span id="comment-<%= comment.id %>" style="position:relative; top:-70px;"></span>

              <li class="by-me <%= by_type %>">

                <div class="avatar pull-left">
                  <img src="http://placekitten.com/40/40">
                </div>

                <div class="chat-content hoverable">
                  <div class="chat-meta">
                    <%= comment.user == current_user ? "Me" : comment.user.full_name %>
                    
                    <% if comment.user.admin? %>
                      &nbsp; <span class="badge badge-instructor">Instructor</span>
                    <% end %>
                    
                    <span class="inline pull-right">
                      <%= time_ago_in_words(comment.created_at) %> ago 
                    </span>
                    
                    <% if can? :edit, comment %>
                      <span class="admin inline pull-right">
                        <%= link_to 'Edit', "#" %>
                        | <%= link_to 'Delete', [@commentable, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
                        &nbsp;&nbsp; 
                      </span>
                    <% end %>
                  </div>

                  <!-- Actual comment content -->
                  <div class="padd-top">
                    <%= auto_link(simple_format(re_truncate(comment.content, length:500, separator: ' ')), :all, :target => "_blank") %>
                  </div>
                  <!-- End comment content -->

                  <div class="row-fluid fit-content">

                    <div class="span8">
                      <div class="widget comment-widget">
                        <div class="widget-head">
                          <span class="response-button widget-icons">
                            <a href="#" class="wminimize">Reply</a>
                          </span>
                          <div class="clearfix"></div>
                        </div>

                        <div class="widget-content" style="display: none;">
                          
                          <% default_value = comment.user==current_user ? "" : "@#{comment.user.full_name}  " %>
                          <%= render partial: "comments/reply_form", locals: {parent: comment_parent, new_comment: @new_comment, default_value: default_value} %>

                        </div>
                      </div>
                    </div>
                
                    <div class="span4">
                      
                      <% if comment_parent_type != "school_day" %>
                        <% latest_school_day = comment_parent.school_days.order("calendar_date DESC").first %>
                        <% unless latest_school_day.nil? %>
                          <span class="label <%= label_type("school_day") %> pull-right inline">
                            <%= link_to "#{material_capitalize("school_day")} #{latest_school_day.print_name}", school_day_path(latest_school_day) %>
                          </span>
                        <% end %>
                      <% end %>
                      &nbsp;
                      
                      <% colon = comment_parent_type=="school_day" ? "" : ":" %>
                      <span class="label <%= label_type(comment.commentable_type) %> pull-right inline" style="margin-right: 2px;">
                        <%= link_to "#{material_capitalize(comment_parent_type)}#{colon} #{comment_parent.print_name}", self.send("#{comment_parent_type}_path", comment_parent)+"#comment-#{comment.id}" %>
                      </span>

                      <div class="clearfix"></div>
                    </div>

                  </div>

                </div>
              </li>

          <% end %>

        </ul>

      </div>
    </div>
  </div>
</div>