<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email, "Email #{mark_required(@user, :email)}" %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :facebook, "Facebook" %><br />
    <%= f.text_field :facebook %>
  </div>
    <div class="field">
    <%= f.label :linkedin, "LinkedIn" %><br />
    <%= f.text_field :linkedin %>
  </div>
    <div class="field">
    <%= f.label :twitter, "Twitter" %><br />
    <%= f.text_field :twitter %>
  </div>
<% if can? :assign_role, @user %>
   <div class="field">
    <%= f.label :role, "Role #{mark_required(@user, :role)}" %><br />
    <%= f.number_field :role %>
  </div>
<% end %>

  <div class="actions">
    <%= f.submit "#{@action} Submit" %>
  </div>

<% end %>
