<div class="page-head">
  <% title "All Users" %>
  <h2 class="inline"><%= yield(:title) %></h2>
  
  <ul class="horizontal-list breadcrumb">
    <li>Show All: </li>
    <% material_type_list.each do |material_type_hash| %>
      <% material_type = material_type_hash[:name] %>
      <% material_icon = material_type_hash[:icon] %>
      <% material_types  = material_type.pluralize %>
      <% material_title  = material_capitalize(material_type) %>
      <% material_titles = material_title.pluralize %>
      
      <%# unless material_type == chosen_material_type %>
      <li>
        <a href="<%= self.send("#{material_types}_path") %>">
          <i class="icon-<%= material_icon %>"></i>
          <%= material_titles %>
        </a>
      </li>
      <%# end %>
      
    <% end %>
  </ul>

</div>

<div class="matter">
  <div class="container-fluid">
    <%= render "layouts/messages" %>
    <div class="row-fluid">
      <div class="span12 table-maxspan minspan">

        <table class="table table-hover" id="linksTable">
          <thead>
          <tr>
            <th></th>
            <th data-sort="string">Full Name</th>
            <th data-sort="string">Email</th>
            <th>Social</th>
            <th data-sort="string">Role</th>

          </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
            <% color = if user.admin? %>
              <% "warning" %>
            <% else %>
              <% "" %>
            <% end %>
            <tr class="hoverable <%= color %>">
              <td>
                <%= image_tag user.image_url(:thumb).to_s, :class => "icon-user-pic" if user.image_url %>
              </td>
              <td>
                <div style="min-height: 50px;">
                  <h5><%= link_to "#{user.full_name}", user %></h5>
                  <span class="admin">
                  <% if can? :edit, user %>
                    <%=  link_to 'Edit', edit_user_path(user) %>
                  <% end %>
                  <% if can? :delete, user %>
                    <%#  link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                  </span>
                </div>
              </td>
              <td><%= link_to user.email, user.email %></td>
              <td>
              <%if user.linkedin?%>
                <%if (user.linkedin.start_with?('http://') || user.linkedin.start_with?('https://')) %>
                   <a href="<%= user.linkedin%>" target="_blank">
                <% elsif user.linkedin.start_with?('www.')%>
                   <a href="http://<%= user.linkedin%>" target="_blank">
                <% elsif user.linkedin.start_with?('linkedin.com/')%>
                   <a href="http://www.<%= user.linkedin%>" target="_blank">
                <%end%>
                <i class="icon-linkedin icon-2x"></a></i>&nbsp;
              <%else%>
                <i class="icon-linkedin icon-2x" style="color:#ccc;"></i>&nbsp;
              <%end%>
              <%if user.facebook?%>
                <%if (user.facebook.start_with?('http://') || user.facebook.start_with?('https://')) %>
                   <a href="<%= user.facebook%>" target="_blank">
                <% elsif user.facebook.start_with?('www.')%>
                   <a href="http://<%= user.facebook%>" target="_blank">
                 <% elsif user.facebook.start_with?('facebook.com/')%>
                   <a href="http://www.<%= user.facebook%>" target="_blank">
                <%end%>
                <i class="icon-facebook icon-2x"></a></i>&nbsp;
              <%else%>
                <i class="icon-facebook icon-2x" style="color:#ccc;"></i>&nbsp;
              <%end%>
              <%if user.twitter?%>
                <%if (user.twitter.start_with?('http://') || user.twitter.start_with?('https://')) %>
                   <a href="<%= user.twitter%>" target="_blank">
                <% elsif user.twitter.start_with?('www.')%>
                   <a href="http://<%= user.twitter%>" target="_blank">
                <% elsif user.twitter.start_with?('@')%>
                   <a href="http://www.twitter.com/<%= user.twitter[1..-1] %>" target="_blank">
                <% elsif user.twitter.start_with?('twitter.com/')%>
                   <a href="http://www.<%= user.twitter%>" target="_blank">
                <% else%>
                   <a href="http://www.twitter.com/<%= user.twitter %>" target="_blank">
                <%end%>
                  <i class="icon-twitter icon-2x"></a></i>&nbsp;
                <%else%>
                  <i class="icon-twitter icon-2x" style="color:#ccc;"></i>&nbsp;
              <%end%>

              </td>
              <td>
                <% if user.admin? %>
                  <span class="badge badge-instructor">Instructor</span>
                <% else %>
                  <span class="badge">Student</span>
                <% end %>
                
                <% if user==current_user %>
                  <span class="badge badge-success">YOU</span>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>

    </div>
  </div>
</div>
