<div class="page-head">
  <% title "All Users" %>
  <h2 class="inline"><%= yield(:title) %></h2>
  
  <ul class="horizontal-list breadcrumb">
    <li>Show All: </li>
    <% material_type_list.each do |material_type_hash| %>
      <% material_type = material_type_hash[:name] %>
      <% material_icon = material_type_hash[:icon] %>
      <% material_types  = material_type.pluralize %>
      <% material_title  = material_capitalize(material_type) %>
      <% material_titles = material_title.pluralize %>
      
      <%# unless material_type == chosen_material_type %>
      <li>
        <a href="<%= self.send("#{material_types}_path") %>">
          <i class="icon-<%= material_icon %>"></i>
          <%= material_titles %>
        </a>
      </li>
      <%# end %>
      
    <% end %>
  </ul>

</div>

<div class="matter">
  <div class="container-fluid">
    <div class="row-fluid">
      <%= render "layouts/messages" %>
      
      <div class="span12 table-maxspan minspan">

        <table class="table tablesorter time-in-column1" id="myTable">
          <thead>
          <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>  
            <tr>
              <td>
                <h5><%= link_to user.full_name, user %></h5>
                <% if can? :edit, user %>
                  <%= link_to 'Edit', edit_user_path(user) %>
                <% end %>
                <% if can? :delete, user %>
                  <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
              <td><%= link_to user.email, user.email %></td>
              <td>
                <% if user.admin? %>
                  <span class="badge badge-instructor">Instructor</span>
                <% else %>
                  <span class="badge">Student</span>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>

    </div>
  </div>
</div>
