<!-- <div class="page-head">
  <%= title "#{@user.full_name} " %>
  <h2 class="inline"><%# yield(:title) %></h2>
</div> -->

<div class="matter">
  <div class="container-fluid">

    <%= render "layouts/messages" %>
    <div class="row-fluid fit-content">

      <div class="span9 maxspan minspan">
        <div class="widget wlightblue mainwidget">
          <div class="widget-head">
            <div class="pull-left">Profile</div>
            <div class="widget-icons pull-right">
              <% if can? :edit, @user %>
                <span class="admin"><a href="<%= edit_user_path %>"><i class="icon-pencil"></i></a></span>
              <% end %>

              <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
              <!-- <a href="#" class="wclose"><i class="icon-remove"></i></a> -->
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="widget-content">
            <div class="padd lowtop">
              <br>

              <%if @user.image? %>          
                <span><%= image_tag @user.image.url(:thumb) %></span>
              <%end%>
              <h3 class="inline"><%= @user.full_name %></h3>
              
              <br><br>
              <p>
                Email:
                <a href="mailto:<%= @user.email%>"><%= @user.email%></a>
              </p>
              
              <br>
              <p>

                <% if @user.linkedin? %>
                  <% if (@user.linkedin.start_with?('http://') || @user.linkedin.start_with?('https://')) %>
                     <a href="<%= @user.linkedin%>" target="_blank">
                  <% elsif @user.linkedin.start_with?('www.') %>
                     <a href="http://<%= @user.linkedin %>" target="_blank">
                  <% elsif @user.linkedin.start_with?('linkedin.com/') %>
                     <a href="http://www.<%= @user.linkedin %>" target="_blank">
                  <% end %>
                  <i class="icon-linkedin icon-2x"></a></i>&nbsp;
                <% else %>
                  <i class="icon-linkedin icon-2x" style="color:#ccc;"></i>&nbsp;
                <% end %>

                <% if @user.facebook? %>
                  <% if (@user.facebook.start_with?('http://') || @user.facebook.start_with?('https://')) %>
                     <a href="<%= @user.facebook%>" target="_blank">
                  <% elsif @user.facebook.start_with?('www.') %>
                     <a href="http://<%= @user.facebook %>" target="_blank">
                  <% elsif @user.facebook.start_with?('facebook.com/') %>
                     <a href="http://www.<%= @user.facebook %>" target="_blank">
                  <% end %>
                  <i class="icon-facebook icon-2x"></a></i>&nbsp;
                <% else %>
                  <i class="icon-facebook icon-2x" style="color:#ccc;"></i>&nbsp;
                <% end %>

                <% if @user.twitter? %>
                  <% if (@user.twitter.start_with?('http://') || @user.twitter.start_with?('https://')) %>
                     <a href="<%= @user.twitter %>" target="_blank">
                  <% elsif @user.twitter.start_with?('www.') %>
                     <a href="http://<%= @user.twitter %>" target="_blank">
                  <% elsif @user.twitter.start_with?('@') %>
                     <a href="http://www.twitter.com/<%= @user.twitter[1..-1] %>" target="_blank">
                  <% elsif @user.twitter.start_with?('twitter.com/') %>
                     <a href="http://www.<%= @user.twitter %>" target="_blank">
                  <% else %>
                     <a href="http://www.twitter.com/<%= @user.twitter %>" target="_blank">
                  <% end %>
                    <i class="icon-twitter icon-2x"></a></i>&nbsp;
                  <% else %>
                    <i class="icon-twitter icon-2x" style="color:#ccc;"></i>&nbsp;
                <% end %>
              </p>

            </div>
          </div>
        </div>

        <% if can? :edit, @user %>
          <%= link_to 'Edit', edit_user_path(@user) %> |
        <% end %>
        <% if can? :delete, @user %>
          <%# link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }  %>
        <% end %>
        <%= link_to "Show All Users", users_path %>
      </div>

    </div>

    <div class="row-fluid">
      <div class="span9 maxspan minspan">
        <br>
        <h5><%= @user.full_name %>'s Comments:</h5>
        <%= render "comments/comments" %>
      </div>
    </div>

  </div>
</div>