<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @attachment.title %>
</p>
<p>
  <b>Filename:</b>
  <%= @attachment.filename %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
