<%= render partial: "layouts/header_index", locals: {chosen_materials: @links} %>

<div class="matter">
  <div class="container-fluid">
    <div class="row-fluid">
      <%= render "layouts/messages" %>
      
      <div class="span12 table-maxspan minspan">

        <table class="table tablesorter material-index" id="myTable">
          <thead>
          <tr>
            <th>Day(s)</th>
            <% if can? :edit, @links %>
              <th colspan="2">Title</th>
            <% else %>
              <th colspan="1">Title</th>
            <% end %>
            <th>URL</th>
            <th>Description</th>
          </tr>
          </thead>

          <tbody>
          <% @links.each do |link| %>
            <% if (!link.school_days.empty? && link.school_days.order("calendar_date DESC")[0].calendar_date <= Date.today) || (can? :edit, @link) %>
            <tr>
              <td>
                <ul class="no-bullet">
                <% link.school_days.order("ordinal DESC").each do |school_day| %>
                  <li>
                    <h3 class="less-padding"><%= link_to school_day.ordinal, school_day %></h3>
                  <li>
                <% end %>
                </ul>
              </td>
              <td>
                <h5><%= link_to link.print_name, link %></h5>
                <% if can? :edit, @link %>
                  <%= link_to 'Edit', edit_link_path(link) %>
                  <%= link_to 'Delete', link, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>

              <% if can? :edit, @link %>
                <td></td>
              <% end %>

              <td><%= link_to link.link_url, link.http_link(link.link_url), :target => "_blank" %></td>
              <td><%= link.description %></td>
            </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>

      </div>

    </div>
  </div>
</div>