<h1>Listing links</h1>

<table>
  <tr>
    <th>Title</th>
    <th>URL</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @links.each do |link| %>
  <tr>
    <td><%= link.title %></td>
    <td><%= link_to link.link_url, link.http_link(link.link_url), :target => "_blank" %></td>
    <td><%= link.description %>
    <td><%= link_to 'Show', link %></td>
    <td><%= link_to 'Edit', edit_link_path(link) %></td>
    <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr> 
<% end %>
</table>

<br />

<%= link_to 'New Link', new_link_path %>
