<div class="page-head">
  <h2>All Links</h2>
</div>

<div class="matter">
  <div class="container-fluid">
    <div class="row-fluid">
      <p id="notice"><%= notice %></p>

      <table class="tablesorter" id="myTable">
        <thead>
          <tr>
            <th>Title</th>
            <th>URL</th>
            <th>Description</th>
            <th colspan="3" class="not_sortable" onclick='return false;'>Options</th>
          </tr>
        </thead>
        <tbody>
        <% @links.each do |link| %>
          <% if (!link.school_days.empty? && link.school_days.order("calendar_date DESC")[0].calendar_date <= Date.today) || (can? :edit, @link) %>
          <tr>
            <td><%= link.title %></td>
            <td><%= link_to link.link_url, link.http_link(link.link_url), :target => "_blank" %></td>
            <td><%= link.description %>
            <td><%= link_to 'Show', link %></td>
            <% if can? :edit, @links %>
              <td><%= link_to 'Edit', edit_link_path(link) %></td>
              <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr> 
          <% end %>
        <% end %>
      </tbody>
        </table>

        <br />
        <% if can? :create, @link %>
          <%= link_to 'New Link', new_link_path %>
        <% end %>
    </div>
  </div>
</div>