<p id="notice"><%= notice %></p>


<p>
  <b>Title:</b>
  <%= @link.title %>
</p>
<p>
  <b>Link:</b>
  <%=link_to @link.link_url, @link.http_link, :target => "_blank" %>
</p>
<p>
  <b>Description:</b>
  <%= @link.description %>
</p>
<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
