<%= form_for @homework, :html => {class: "form-horizontal"} do |f| %>
  <% if @homework.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homework.errors.count, "error") %> prohibited this homework from being saved:</h2>

      <ul>
      <% @homework.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:day] %>
    <div class="field">
      <%= hidden_field_tag :last_page, params[:day] %>
    </div>
  <% end %> 

  <div class="control-group">
    <%= f.label :title, "Title #{mark_required(@homework, :title)}", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :content, "Content #{mark_required(@homework, :content)}", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :content %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :school_day, "Select Day(s)", class: "control-label" %>
    <div class="controls">
      <% selected_ids = @homework.school_day_ids %>
      <% selected_ids << params[:day] %>
      <%= f.collection_select(:school_day_ids, SchoolDay.order("ordinal DESC"), :id, :ordinal, {:selected => selected_ids, :prompt => "Please Select Day(s)"}, {:class => "span4", multiple: "multiple"}) %>
    </div>
  </div>

  <div class="actions inline">
    <%= f.submit "Submit", class: "btn btn-info" %>
  </div>

  <% if params[:last_page].nil? || params[:last_page].empty? %>

    <% if @homework.persisted? %>
      <%= link_to "Cancel", @homework, class: "btn btn-inverse link-btn" %>
    <% else %>
      <%= link_to "Cancel", "/", class: "btn btn-inverse link-btn" %> 
    <% end %>

  <% else %>

    <% if params[:day].empty? %>
      <%= link_to "Cancel", new_school_day_path + "#homeworks", class: "btn btn-inverse link-btn" %>
    <% else %>
      <%= link_to "Cancel", edit_school_day_path(SchoolDay.find(params[:day])) + "#homeworks", class: "btn btn-inverse link-btn" %>
    <% end %>

  <% end %>
  
  <% if @homework.persisted? %>
    <%= link_to "Delete", @homework, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger link-btn" %>
  <% end %>
<% end %>
