<div class="page-head">
  <h1>Listing searches</h1>
</div>

<ol>
  <% @searches.each do |object| %>
    <li><%="#{object.class}:"%>
    	<%# debugger %>
    	<% if object.class == SchoolDay %>
    		<a href=<%= "school_days/#{object.id}" %>><%= object.print_name %></a>
    	<% else %>
    		<a href=<%= "#{object.class.to_s.downcase}s/#{object.id}" %>><%= object.print_name %></a> 
    	<% end %>
    </li>
   <% end %>
</ol>
