<div class="page-head">
  <h2>All results</h2>
</div>

<div class="matter">
  <div class="container-fluid">
    <div class="row-fluid">
      <ol>
        <%#  debugger %>
        <% @searches.each do |object| %>
          <li><%="#{object.class}:"%>
          	
          	<% if object.class == SchoolDay %>
          		<a href=<%= "school_days/#{object.id}" %>><%= object.print_name %></a>
              <%= object.try(:print_search) %>
          	<% else %>
            <%# debugger %>
          		<a href=<%= "#{object.class.to_s.downcase}s/#{object.id}" %>><%= object.print_name %></a> 
              <%= object.try(:print_search) %>
          	<% end %>
          </li>
         <% end %>
      </ol>
    </div>
  </div>
</div>