<%= form_for(@todo) do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

   <div class="field">
    <%= f.label :gist %><br />
    <%= f.text_field :gist %>
  </div>

   <div class="field">
    <%= f.label :school_day, "Select Day(s) for this TODO:" %><br />
    <%= f.collection_select(:school_day_ids, SchoolDay.order("ordinal DESC"), :id, :ordinal, {:selected => @todo.school_day_ids, :prompt => "Please Select Day(s)"}, {:class => "span4", multiple: "multiple"}) %>
  </div>

  <div class="actions">
    <%= f.submit "#{@action} Submit" %>
  </div>

<% end %>
