<div class="page-head">
  <h1>Listing Todos</h1>
</div>

<div class="matter">
  <div class="container-fluid">
    <div class="row-fluid">
      <p id="notice"><%= notice %></p>

        <table class="tablesorter" id="myTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Gist</th>
              <th colspan="3" class="not_sortable" onclick='event.preventDefault()'>Options</th>
            </tr>
          </thead>
        <tbody>
          <% @todos.each do |todo| %>
            <tr>
              <td><%= todo.name %></td>
              <td><%= link_to todo.gist, todo.http_link(todo.gist), :target => "_blank" %></td>
              <td><%= link_to 'Show', todo %></td>
              <% if can? :edit, @todo %>
                <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
                <td><%= link_to 'Delete', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
        </table>

        <br />

        <% if can? :create, @todo %>
          <%= link_to 'New Todo', new_todo_path %>
        <% end %>
    </div>
  </div>
</div>