<%= render partial: "layouts/header_materials_show", locals: {material: @todo} %>

<div class="matter">
  <div class="container-fluid">

    <%= render "layouts/messages" %>
    
    <div class="row-fluid">

      <div class="span9 maxspan minspan">
        <div class="widget wlightblue mainwidget">
          <div class="widget-head">
            <div class="pull-left">To-Do</div>
            <div class="widget-icons pull-right">
              <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
              <!-- <a href="#" class="wclose"><i class="icon-remove"></i></a> -->
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="widget-content">
            <div class="padd lowtop">

              <p>
                <h3><%= @todo.name %></h3>
              </p>

              <p>
                <b>Gist:</b>
                <%= link_to @todo.gist, @todo.http_link(@todo.gist), :target => "_blank" %>
              </p>

            </div>
          </div>
        </div>
      </div>

    </div>
    
    <%= render partial: "layouts/footer_materials_show", locals: {material: @todo} %>

  </div>
</div>