<%= form_for @potd, :html => {class: "form-horizontal"}  do |f| %>
  <% if @potd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@potd.errors.count, "error") %> prohibited this potd from being saved:</h2>

      <ul>
      <% @potd.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:day] %>
    <div class="field">
      <%= hidden_field_tag :day, params[:day] %>
    </div>
  <% end %> 

  <div class="control-group">
    <%= f.label :name, "Name #{mark_required(@potd, :name)}", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :wikipedia, "Wikipedia URL #{mark_required(@potd, :wikipedia)}", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :wikipedia %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :presentation_url, "Presentation URL #{mark_required(@potd, :presentation_url)}", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :presentation_url %>
    </div>
  </div>
 
  <div class="control-group">
    <%= f.label :school_day, "Select Day(s)", class: "control-label" %>
    <div class="controls">
      <% if @potd.persisted? %>
        <% selected_ids = @potd.school_day_ids %>
      <% else %>
        <% selected_ids = [] %>
      <% end %>
      <% selected_ids << params[:day] %>
      <%= f.collection_select(:school_day_ids, SchoolDay.order("ordinal DESC"), :id, :ordinal, {:selected => selected_ids, :prompt => "Please Select Day(s)"}, {:class => "span4", multiple: "multiple", size: 10}) %>
    </div>
  </div>

  <div class="actions inline">
    <%= f.submit "Submit", class: "btn btn-info" %>
  </div>
  
  <%= link_to "Cancel", cancel_path_for(@potd), class: "btn btn-inverse link-btn" %>

  <% if @potd.persisted? %>
    <%= link_to "Delete", @potd, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger link-btn" %>
  <% end %>
<% end %>
