<div class="page-head">
  <h1>All Programmers of the Day</h1>
</div>
<div class="matter">
  <div class="container-fluid">
    <div class="row-fluid">
      <p id="notice"><%= notice %></p>
        <table class="tablesorter" id="myTable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Wikipedia</th>
            <th>Presentation URL</th>
            <th class="not_sortable" onclick='return false;'colspan="3">Options</th>

          </tr>
        </thead>
        <tbody>

        <% @potds.each do |potd| %>
          <% if (potd.school_days.sort_by{|school_day| school_day.calendar_date}[0].calendar_date <= Date.today) || (can? :edit, @potd) %>
          <tr>
            <td><%= link_to(potd.name, potd) %></td>
            <td><%= link_to(potd.wikipedia, potd.http_link(potd.wikipedia), :target => "_blank") %></td>
            <td><%= link_to(potd.presentation_url, potd.http_link(potd.presentation_url), :target => "_blank") %></td>
          
            <td><%= link_to 'Show', potd %></td>

            <% if can? :edit, @potd %>
              <td><%= link_to 'Edit', edit_potd_path(potd) %></td>
              <td><%= link_to 'Destroy', potd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

        <br />

        <% if can? :create, @potd %>
          <%= link_to 'New Programmer of the Day', new_potd_path %>
        <% end %>
    </div>
  </div>
</div>