<%= form_for @school_day, :html => {class: "form-horizontal"} do |f| %>
  <% if @school_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school_day.errors.count, "error") %> prohibited this school_day from being saved:</h2>

      <ul>
      <% @school_day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= field_set_tag do %>
  <div class="control-group">
    <%= f.label :ordinal, "Day #{mark_required(@school_day, :ordinal)}", class: "control-label" %>
    <div class="controls">
      <%= f.number_field :ordinal %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :week, "Week #{mark_required(@school_day, :week)}", class: "control-label" %>
    <div class="controls">
      <%= f.number_field :week %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :calendar_date, "Calendar Date#{mark_required(@school_day, :calendar_date)}", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :calendar_date_string %>
    </div>
  </div>
  <% end %>
 

  <!-- Sub-widget -->
  <div class="widget form-sub-widget hoverable">
    <div class="widget-head">
      <div class="pull-left">Schedule</div>
      <div class="widget-icons pull-right">
        <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="widget-content">
      <div class="padd">
        <ul>
          <%= field_set_tag "" do %>
          <div class="">
            <em>Please format your schedule with start & end times separated by a dash <br> Example:  <code>9:45 - 11:30: Ruby Lecture 3 </code></em>
            <br><br>
            <%= f.label :schedule, class: "control-label" %>
            <div class="controls">
              <%= f.text_area :schedule, rows: 15 %>
            </div>
          </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Sub-widget -->


  <!-- Sub-widget -->
  <div class="widget form-sub-widget hoverable">
    <div class="widget-head">
      <div class="pull-left">Resources</div>
      <div class="widget-icons pull-right">
        <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="widget-content">
      <div class="padd">
        <ul>
          <%= field_set_tag "" do %>

            <!-- Lectures -->
            <div class="control-group" data-name="lectures"> 
              <%= f.label :lecture, "Select Lecture(s)", class: "control-label", id: "lectures" %>
              <div class="controls previewable">
                <% selected_lecture_ids = @school_day.lecture_ids %>
                <% selected_lecture_ids << params[:lecture_added] %>
                <%= f.collection_select(:lecture_ids, Lecture.all.sort_by { |x|x.print_name.downcase }, :id, :print_name, {:selected => selected_lecture_ids, :prompt => "Please Select Lecture(s)"}, {:class => "span4 multi-select", multiple: "multiple"}) %>
                <span class= "new-btns"><%= link_to "Create New", new_lecture_path + "?day=#{@school_day.id}&last_page=school_day_form", class: "btn btn-primary link-btn" %></span>
              </div>
            </div>

            <!-- To-Dos -->
            <div class="control-group" data-name="todos">
              <%= f.label :todo, "Select To-Do(s)", class: "control-label", id: "todos"  %>
              <div class="controls previewable">
                <% selected_todo_ids = @school_day.todo_ids %>
                <% selected_todo_ids << params[:todo_added] %>
                <%= f.collection_select(:todo_ids, Todo.all.sort_by { |x|x.print_name.downcase }, :id, :print_name, {:selected => selected_todo_ids, :prompt => "Please Select To-Do(s)"}, {:class => "span4 multi-select", multiple: "multiple"}) %>
                <span class= "new-btns"><%= link_to "Create New", new_todo_path + "?day=#{@school_day.id}&last_page=school_day_form", class: "btn btn-primary link-btn" %></span>
              </div>
            </div>

            <!-- POTD -->
            <div class="control-group" data-name="potds">
              <%= f.label :potd, "Select POTD", class: "control-label", id: "potds"  %>
              <div class="controls previewable">
                <% selected_potd_id = @school_day.potd_id %>
                <% selected_potd_id = params[:potd_added] if selected_potd_id.nil? %>
                <%= f.collection_select(:potd_id, Potd.all.sort_by { |x|x.print_name.downcase }, :id, :print_name, {:selected => selected_potd_id, :include_blank => "None"}, {:class => "span4 multi-select"}) %>
                <span class= "new-btns"><%= link_to "Create New", new_potd_path + "?day=#{@school_day.id}&last_page=school_day_form", class: "btn btn-primary link-btn" %></span>
              </div>
            </div>

            <!-- Labs -->
            <div class="control-group" data-name="labs">
              <%= f.label :lab, "Select Lab(s)", class: "control-label", id: "labs"  %>
              <div class="controls previewable">
                <% selected_lab_ids = @school_day.lab_ids %>
                <% selected_lab_ids << params[:lab_added] %>
                <%= f.collection_select(:lab_ids, Lab.all.sort_by { |x|x.print_name.downcase }, :id, :print_name, {:selected => selected_lab_ids, :prompt => "Please Select Lab(s)"}, {:class => "span4 multi-select", multiple: "multiple"}) %>
                <span class= "new-btns"><%= link_to "Create New", new_lab_path + "?day=#{@school_day.id}&last_page=school_day_form", class: "btn btn-primary link-btn" %></span>
              </div>
            </div>

            <!-- Links -->
            <div class="control-group" data-name="links">
              <%= f.label :link, "Select Link(s)", class: "control-label", id: "links"  %>
              <div class="controls previewable">
                <% selected_link_ids = @school_day.link_ids %>
                <% selected_link_ids << params[:link_added] %>
                <%= f.collection_select(:link_ids, Link.all.sort_by { |x|x.print_name.downcase }, :id, :print_name, {:selected => selected_link_ids, :prompt => "Please Select Link(s)"}, {:class => "span4 multi-select", multiple: "multiple"}) %>
                <span class= "new-btns"><%= link_to "Create New", new_link_path + "?day=#{@school_day.id}&last_page=school_day_form", class: "btn btn-primary link-btn" %></span>
              </div>
            </div>

            <!-- Homeworks -->
            <div class="control-group" data-name="homeworks">
              <%= f.label :homework, "Select Homework(s)", class: "control-label", id: "homeworks"  %>
              <div class="controls previewable">
                <% selected_homework_ids = @school_day.homework_ids %>
                <% selected_homework_ids << params[:homework_added] %>
                <%= f.collection_select(:homework_ids, Homework.all.sort_by { |x|x.print_name.downcase }, :id, :print_name, {:selected => selected_homework_ids, :prompt => "Please Select Homework(s)"}, {:class => "span4 multi-select", multiple: "multiple"}) %>
                <span class= "new-btns"><%= link_to "Create New", new_homework_path + "?day=#{@school_day.id}&last_page=school_day_form", class: "btn btn-primary link-btn" %></span>
              </div>
            </div>

          <% end %>               
        </ul>
      </div>
    </div>
  </div>
  <!-- End Sub-widget -->


  <br>

  <div class="actions inline">
    <%= f.submit "Submit", class: "btn btn-info" %>
  </div>

  <% if @school_day.persisted? %>
    <%= link_to "Cancel", @school_day, class: "btn btn-inverse link-btn" %> 
  <% else %>
    <%= link_to "Cancel", "/", class: "btn btn-inverse link-btn" %> 
  <% end %>

  <% if @school_day.persisted? %>
    <%= link_to "Delete", @school_day, method: :delete, data: { confirm: 'Are you sure you want to delete this day? Resources associated with this day will not be deleted.' }, class: "btn btn-danger link-btn" %>
  <% end %>
<% end %>

<iframe name="resource_preview" width="600" height="600" id="resource_preview" class = "affix-top"></iframe>


