<%= form_for(@school_day) do |f| %>
  <% if @school_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school_day.errors.count, "error") %> prohibited this school_day from being saved:</h2>

      <ul>
      <% @school_day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :ordinal, "Day" %><br />
    <%= f.number_field :ordinal %>
  </div>

  <div class="field">
    <%= f.label :week %><br />
    <%= f.number_field :week %>
  </div>

  <div class="field">
    <%= f.label :calendar_date %><br />
    <%= f.date_select :calendar_date %>
  </div><br><br>

 
  <div class="field">
    <em>Please format your schedule with start & end times separated by a dash <br> Example:  <code>9:45 - 11:30: Ruby Lecture 3 </code><br><br></em>
    <%= f.label :schedule %><br />
    <%= f.text_area :schedule %>
  </div>
 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
