<div class="field">
    <%= f.label :title,"Link " %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :link_url %><br />
    <%= f.text_field :link_url%>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
</div>