
<div class="page-head">
  <h3 class="inline">All School Days</h3>
  <% if can? :create, @school_day %>
   <span class="btn btn-warning pull-right admin-title"><%= link_to 'New School day', new_school_day_path %></span>
  <% end %>
  <ul class="breadcrumb" >
    <li>

      <a href="#">Semester 002 </a> 

      <span class="divider">/</span>

    </li>

    <li class="dropdown">
      <%= link_to "Week #{@active_school_day.week}", "#" %>
      <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
        <i class = "caret"></i>
      </a>

      <span class="divider">/</span>

      <ul class="dropdown-menu" role="menu">
        <% SchoolDay.all.each do |school_day| %>
          <li><%= link_to "Week #{school_day.week}", '#' %></li>
        <% end %>
        <li><%= link_to "Show All Weeks", '#' %></li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
        Day <%= @active_school_day.ordinal %>
        <i class = "caret"></i>
      </a>
      <ul class="dropdown-menu" role="menu">
        <% SchoolDay.all.each do |school_day| %>
          <li><%= link_to "Day #{school_day.ordinal}", school_day_path(school_day) %></li>
        <% end %>
        <li><%= link_to "Show All Days", school_days_path %></li>
      </ul>
    </li>
  </ul>
</div>
<div class="matter">
  <div class="container-fluid">
    <div class="row-fluid fit-content">

    <!--   <div class="span11 minspan">

        <div class="widget wlightblue mainwidget">
          <div class="widget-head">
            <div class="pull-left"></div>
            <div class="widget-icons pull-right">
              <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
              <!-- <a href="#" class="wclose"><i class="icon-remove"></i></a> -->
       <!-- </div>
          <div class="clearfix"></div>
        </div>  -->

          <!-- <div class="widget-content"> -->
            <table class="table table-bordered time-in-column1 tablesorter" id="myTable">
              <thead>
                <tr>
                  <% if can? :edit, @school_day %>
                    <th colspan="2">Day</th>
                  <% else %>
                    <th colspan="1">Day</th>
                  <% end %>
                  <th>Week</th>
                  <th>Date</th>
                  <script>
                    function test() {
                      alert("ASDF");
                     event.preventDefault();
                    }
                  </script>
                  <th class="not_sortable" onclick="test();">Schedule</th>
                  <th><%= link_to 'POTD', potds_path %></th>
                  <th><%= link_to 'Labs', labs_path %></th>
                  <th><%= link_to 'Homeworks', homeworks_path %></th>
                  <th><%= link_to 'Links', links_path %></th>
                </tr>
              </thead>
              <tbody>
                <% @school_days.each do |school_day| %>
                  <tr>
                    <td>
                      <h2><%= link_to school_day.ordinal, school_day %></h2>
                    </td>
                    <% if can? :edit, @school_day %>
                      <td><%= link_to 'Edit', edit_school_day_path(school_day) %>
                          <%= link_to 'Delete', school_day, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </td>
                    <% end %>
                    <td>
                      <h4><%= school_day.week %></h4>
                    </td>
                    <td>
                      <%= school_day.calendar_date %>
                    </td>
                    <td>
                      <%= simple_format(truncate school_day.schedule, length: 150) %>
                    </td>
                    <td>
                      <% if school_day.potd %>
                        <%= link_to school_day.potd.name, edit_potd_path(school_day.potd), :target => "_blank" %>
                      <% end %>
                    </td>
                    <td>
                      <% school_day.labs.each do |lab| %>
                       <%= link_to lab.name, lab.http_link(lab.lab_url), :target => "_blank"%>
                      <% end %>
                    </td>
                    <td>
                      <% school_day.homeworks.each do |homework| %>
                        <%= link_to homework.title, edit_homework_path(homework), :target => "_blank"%>
                      <% end %>
                    </td>
                    <td>
                      <% school_day.links.each do |link| %>
                        <%= link_to link.title, link.http_link(link.link_url), :target => "_blank"%>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        
    <!-- </div> -->
  </div>
</div>

<br />
              