<div class="page-head">
  <h1>Listing labs</h1>
</div>

<div class="matter">
  <div class="container-fluid">
    <div class="row-fluid">
      <p id="notice"><%= notice %></p>
      <table class="tablesorter" id="myTable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Lab url</th>
            <th class="not_sortable" colspan="3" onclick='return false;'>Options</th>
          </tr>
        </thead>
        <tbody>
        <% @labs.each do |lab| %>
          <% if (lab.school_days.sort_by{|school_day| school_day.calendar_date}[0].calendar_date <= Date.today) || (can? :edit, @lab) %>
          <tr>
            <td><%= lab.name %></td>
            <td><%= link_to lab.lab_url, lab.http_link(lab.lab_url), :target => "_blank" %></td>
            <td><%= link_to 'Show', lab %></td>
            <% if can? :edit, @lab %>
              <td><%= link_to 'Edit', edit_lab_path(lab) %></td>
              <td><%= link_to 'Destroy', lab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
          <% end %>
        <% end %>
      </tbody>
      </table>

        <br />
        <% if can? :create, @lab %>
          <%= link_to 'New Lab', new_lab_path %>
        <% end %>
    </div>
  </div>
</div>