
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="navbar-container">
      <h1><a href="/" class="brand"> Syllaboss </a></h1>

      <ul class="nav all-stats">
        
        <!-- Students can quick browse resource indexes -->
        <% if current_user.student? %>
          <li class="dropdown">
            <a id="drop1" href="<%= school_day_path(@active_school_day) %>" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list" style="font-weight: normal;"></i> Browse <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
              <li><a href="<%= school_days_path %>"><i class="icon-calendar"></i> Days</a></li>
              <li><a href="<%= lectures_path %>"><i class="icon-folder-open"></i> Lectures </a></li>
              <li><a href="<%= todos_path %>"><i class="icon-edit"></i> To-Dos </a></li>
              <li><a href="<%= potds_path %>"><i class="icon-user"></i> Programmers of the Day </a></li>
              <li><a href="<%= labs_path %>"><i class="icon-laptop"></i> Labs </a></li>
              <li><a href="<%= links_path %>"><i class="icon-link"></i> Links </a></li>
              <li><a href="<%= homeworks_path %>"><i class="icon-book"></i> Homeworks </a></li>
            </ul>
          </li>
        <% end %>
        
        <!-- Teachers can quick add new resources -->
        <% if can? :edit, @active_school_day %>
          <ul class="nav nav-icon">
            <!-- <li><i class="icon-plus"></i></li> -->
            <% material_type_list.each do |material_type_hash| %>
              <% material_type = material_type_hash[:name] %>
              <% material_icon = material_type_hash[:icon] %>

              <% material_types  = material_type.pluralize %>
              <% material_title  = material_capitalize(material_type) %>
              <% material_titles = material_title.pluralize %>
              
              <li>
                <a href="<%= self.send("new_#{material_type}_path") %>" title="Create New <%= material_title %>">
                  <i class="icon-<%= material_icon %>"></i>
                  <%# material_titles %>
                </a>
              </li>
              
            <% end %>
          </ul>
        <% end %>

      </ul>

      

      <ul class="nav all-stats pull-right">

        <!-- Discussion Stream with Unread Comments count -->
        <li class="dropdown dropdown-big">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="icon-comments"></i> Discussion <span class="badge badge-info"><%= @unread_comments.size %></span> 
          </a>

          <ul class="dropdown-menu dropdown-comments">
            <li>
              <h5><i class="icon-comments"></i> Unread Comments (<%= @unread_comments.size %>)</h5>
              <hr />
            </li>
            <% @unread_comments[0..6].each do |comment| %>
              <% comment_parent = comment.commentable_type.classify.constantize.find(comment.commentable_id) %>
              <% comment_parent_type = comment.commentable_type.underscore %>
              <li>
                <div class="chat-meta">
                  <%= comment.user == current_user ? "Me" : comment.user.full_name %>
                  <span class="inline pull-right">
                    <%= time_ago_in_words(comment.created_at) %> ago 
                  </span>
                </div>

                <div class="row-fluid same-height-col-wrap">
                  <div class="span9 no-height same-height-col">
                    <%= link_to re_truncate(comment.content, length:50, separator: ' '), comments_path + "#comment-#{comment.id}" %>
                  </div>
                  <div class="span3 no-height same-height-col">
                    <% name  = comment_parent_type=="school_day" ? comment_parent.print_name : "" %>
                    <span class="label <%= label_type(comment.commentable_type) %> pull-right inline valign" style="margin-right: 2px;">
                      <%= link_to "#{material_capitalize(comment_parent_type)}#{name}", self.send("#{comment_parent_type}_path", comment_parent)+"#comment-#{comment.id}" %>
                    </span>
                  </div>
                </div>
                <div class="clearfix"></div>
                <hr />
              </li>
            <% end %>

            <li>
              <div class="drop-foot">
                <%= link_to "View All", comments_path %>
              </div>
            </li>                                    
          </ul>
        </li>
            

        <!-- Notifications with unread and updated count -->
        <li class="dropdown dropdown-big">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="icon-exclamation-sign"></i> Notifications <span class="badge badge-info"><%= @unread.size %></span> 
          </a>

          <ul class="dropdown-menu dropdown-comments">
            <li>
              <h5><i class="icon-exclamation-sign"></i> Unread & Updated (<%= @unread.size %>) </h5>
              <hr />
            </li>
            <% @unread[0..6].each do |material| %>
              <% material_type = material.class.to_s.underscore %>

              <li>
                <div class="chat-meta">
                  <span class="inline pull-right">
                    <%= time_ago_in_words(material.created_at) %> ago 
                  </span>
                </div>

                <div class="row-fluid same-height-col-wrap">
                  <div class="span9 no-height same-height-col">
                    <%= link_to re_truncate(material.print_name, length:50, separator: ' '), self.send("#{material_type}_path", material) %>
                  </div>
                  <div class="span3 no-height same-height-col">
                    <span class="label <%= label_type(material_type) %> pull-right inline valign" style="margin-right: 2px;">
                      <%= "#{material_capitalize(material_type)}" %>
                    </span>
                  </div>
                </div>
                <div class="clearfix"></div>
                <hr />
              </li>
            <% end %>

            <li>
              <div class="drop-foot">
                <%= link_to "View All", notifications_path %>
              </div>
            </li>                                    
          </ul>
        </li>
        

        <!-- Search form -->
        <li>
          <%= form_tag "/searches", :method => :get, class: "form-inline" do %>
            <div class="search-bar row-fluid">
              <%= text_field_tag :search, params[:search], :placeholder =>"Search" %>
              <%= submit_tag "Search", :title => nil, class: "btn btn-info"%>
            </div>
          <% end %>
        </li>
        

        <!-- User Options -->
        <% if current_user %>
          <li class="dropdown pull-right">
            <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
              <% if current_user.image_url %>
                <%= image_tag current_user.image_url(:thumb), :class => "nav-user-pic" %>
              <% else %>
              <img src="http://placekitten.com/40/40" class="nav-user-pic"/>
              <% end %>
                
              <%= current_user.full_name %> <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
              <li><a href="<%= user_path(@current_user) %>"><i class="icon-user"></i> Profile </a></li>
              <li>
                <a href="<%= users_path %>"><i class="icon-group"></i>
                  <%=  current_user.admin? ? "Manage Users" : "User List" %>
                </a></li>
              <li><a href="<%= logout_path %>"><i class="icon-off"></i> Log Out</a></li>
            </ul>
          </li>
        <% else %>
          <li class="nav pull-right">
            <li><%= link_to "Sign Up", signup_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
