<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="navbar-container">
      <h1><a href="/" class="brand"> Syllaboss </a></h1>
      <ul class="nav all-stats">
        <li><%= link_to "Days", school_days_path %></li>
        <li><%= link_to "Calendar",  "/" %></li>
        <li><%= link_to "Lectures",   lectures_path %></li>
        <li><%= link_to "Programmers of the Day",  potds_path %></li>
      </ul>
       <ul class="nav all-stats pull-right">
        <%# if user_signed_in? %>
         <!--  <li><%# link_to current_user.full_name, profiles_path(current_user.profile_name) %></li>
          <li><%# link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <%# else %>
          <li><%# link_to "Register", register_path %></li>
          <li><%# link_to "Log In", login_path %></li> -->
          <% if current_user %>
            <li><%= link_to current_user.full_name %></li>
            <li><%= link_to "Log Out", logout_path %></li>
          <% else%>
            <li><%= link_to "Sign Up", signup_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          <% end %>
        <%# end %>
      </ul>       
    </div>
  </div>
</div>
