
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="navbar-container">
      <h1><a href="/" class="brand"> Syllaboss </a></h1>

      <ul class="nav all-stats">

        <li class="dropdown">
          <a id="drop1" href="<%= school_day_path(@active_school_day) %>" role="button" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
            <li><a href="<%= school_days_path %>"><i class="icon-calendar"></i> Days</a></li>
            <li><a href="<%= lectures_path %>"><i class="icon-folder-open"></i> Lectures </a></li>
            <li><a href="<%= todos_path %>"><i class="icon-edit"></i> To-Dos </a></li>
            <li><a href="<%= potds_path %>"><i class="icon-user"></i> Programmers of the Day </a></li>
            <li><a href="<%= labs_path %>"><i class="icon-laptop"></i> Labs </a></li>
            <li><a href="<%= links_path %>"><i class="icon-link"></i> Links </a></li>
            <li><a href="<%= homeworks_path %>"><i class="icon-book"></i> Homeworks </a></li>
          </ul>
        </li>

        <li><%= link_to "Discussions", comments_path %></li>

      </ul>

      

      <ul class="nav all-stats pull-right">
        <li>
          <!-- Search form -->
          <%= form_tag "/searches", :method => :get, class: "form-inline" do %>
            <div class="search-bar row-fluid">
              <%= text_field_tag :search, params[:search], :placeholder =>"Search" %>
              <%= submit_tag "Search", :title => nil, class: "btn btn-info"%>
            </div>
          <% end %>

        </li>

        <ul class="nav pull-right">
          <% if current_user %>
          <li class="dropdown pull-right">
            <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><img src="/assets/user.jpg" class="nav-user-pic"/><%= current_user.full_name %> <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
              <li><a href="<%= lectures_path %>"><i class="icon-user"></i> Profile </a></li>
              <li>
                <a href="<%= users_path %>"><i class="icon-group"></i>
                  <%=  current_user.admin? ? "Manage Users" : "User List" %>
                </a></li>
              <li><a href="<%= logout_path %>"><i class="icon-off"></i> Log Out</a></li>
            </ul>
          </li>
          <% else %>
          <li class="nav pull-right">
            <li><%= link_to "Sign Up", signup_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          </li>
          <% end %>
        </ul>
      </ul>

      <% if can? :edit, @active_school_day %>
      <ul class="nav nav-icon pull-right">
        <!-- <li><i class="icon-plus"></i></li> -->
        <% material_type_list.each do |material_type_hash| %>
          <% material_type = material_type_hash[:name] %>
          <% material_icon = material_type_hash[:icon] %>

          <% material_types  = material_type.pluralize %>
          <% material_title  = material_capitalize(material_type) %>
          <% material_titles = material_title.pluralize %>
          
          <%# unless material_type == chosen_material_type %>
          <li>
            <a href="<%= self.send("new_#{material_type}_path") %>" title="Create New <%= material_title %>">
              <i class="icon-<%= material_icon %>"></i>
              <%# material_titles %>
            </a>
          </li>
          <%# end %>
          
        <% end %>
      </ul>
      <% end %>

    </div>
  </div>
</div>
