<!-- Sidebar -->
<div class="sidebar sidebar-fixed-left">
  <div class="sidebar-dropdown"><a href="#">Navigation</a></div>

  <div class="sidebar-inner" style="position: static;">

    <!--- Sidebar navigation -->
    <!-- If the main navigation has sub navigation, then add the class "has_submenu" to "li" of main navigation. -->
    <ul class="navi">

      <!-- Use the class nred, ngreen, nblue, nlightblue, nviolet or norange to add background color. You need to use this in <li> tag. -->

      <!-- <li>&nbsp;</li> -->
      <li class="nred day-title" style="background-color: rgb(220,220,220);">
          
            <span>
              <%= link_to '<i class="icon-caret-left dir-icon"></i>'.html_safe, school_day_path(@previous_school_day), class: "dir-icon" if @previous_school_day %>
            </span>

            <h2 class="less-padding inline"><%= link_to "Day #{@active_school_day.ordinal}", @active_school_day %></h2>

            <% if (@next_school_day.calendar_date <= Date.today) || (can? :edit, @next_school_day) %>
            <span>
              <%= link_to '<i class="icon-caret-right dir-icon"></i>'.html_safe, school_day_path(@next_school_day), class: "dir-icon" if @next_school_day %>
            </span>
            <% end %>

            <% if @active_school_day.calendar_date == Date.today %>
              <br>
              <span class="badge badge-warning pull-right"><strong>Today</strong></span>
            <% elsif @active_school_day.calendar_date < Date.today %>
              <br>
              <span class="badge pull-right"><strong><%= distance_of_time_in_words(Date.today, @active_school_day.calendar_date) %> ago</strong></span>
            <% else %>
              <br>
              <span class="badge pull-right"><strong><%= distance_of_time_in_words(Date.today, @active_school_day.calendar_date) %> from now</strong></span>
            <% end %>

            <h4 class="less-padding">Week <%= @active_school_day.week %></h4>
          

          <p>
            <%= @active_school_day.calendar_date.strftime("%A %B %d, %Y") %>
          </p>

      </li>

      <!-- Add in Schedule eventually when we make it a model -->


      <!-- Menu with sub menu -->
      <li class="has_submenu nlightblue hoverable">
        <a href="#">
          <!-- Menu name with icon -->
          <i class="icon-folder-open"></i> Lectures 
          <!-- Icon for dropdown -->
          <span class="pull-right hover-only">(<%= @active_school_day.lectures.size %>)</span>
          <span class="pull-right no-hover-only"><i class="icon-angle-right"></i></span>
        </a>

        <ul>
          <% @active_school_day.lectures.each_with_index do |lecture, index| %>
          <li>
            <%= link_to lecture.print_name, lecture_path(lecture) %>
          </li>
          <!-- <li class="active"><a href="widgets2.html">Widgets #2</a></li> -->
          <% end %>
        </ul>
      </li>

      <li class="has_submenu nlightblue hoverable">
        <a href="#">
          <!-- Menu name with icon -->
          <i class="icon-pencil"></i> To-Dos 
          <!-- Icon for dropdown -->
          <span class="pull-right hover-only">(<%= @active_school_day.todos.size %>)</span>
          <span class="pull-right no-hover-only"><i class="icon-angle-right"></i></span>
        </a>

        <ul>
          <% @active_school_day.todos.each_with_index do |todo, index| %>
          <li>
            <%= link_to todo.print_name, todo_path(todo) %>
          </li>
          <% end %>
        </ul>
      </li>

      <li class="has_submenu nlightblue hoverable">
        <a href="#">
          <!-- Menu name with icon -->
          <i class="icon-user"></i> POTD 
          <!-- Icon for dropdown -->
          <span class="pull-right hover-only">(<%= @active_school_day.potd ? 1 : 0 %>)</span>
          <span class="pull-right no-hover-only"><i class="icon-angle-right"></i></span>
        </a>
        <ul>
          <li class="norange">
            <%= link_to @active_school_day.potd.print_name, potd_path(@active_school_day.potd) if @active_school_day.potd %>
          </li>
        </ul>
      </li>

      <li class="has_submenu nlightblue hoverable">
        <a href="#">
          <!-- Menu name with icon -->
          <i class="icon-laptop"></i> Labs 
          <!-- Icon for dropdown -->
          <span class="pull-right hover-only">(<%= @active_school_day.labs.size %>)</span>
          <span class="pull-right no-hover-only"><i class="icon-angle-right"></i></span>
        </a>

        <ul>
          <% @active_school_day.labs.each_with_index do |lab, index| %>
          <li>
            <%= link_to lab.print_name, lab_path(lab) %>
          </li>
          <% end %>
        </ul>
      </li>

      <li class="has_submenu nlightblue hoverable">
        <a href="#">
          <!-- Menu name with icon -->
          <i class="icon-link"></i> Links 
          <!-- Icon for dropdown -->
          <span class="pull-right hover-only">(<%= @active_school_day.links.size %>)</span>
          <span class="pull-right no-hover-only"><i class="icon-angle-right"></i></span>
        </a>

        <ul>
          <% @active_school_day.links.each_with_index do |link, index| %>
          <li>
            <a href="<%= link.http_link(link.link_url) %>" target="_blank"><%= link.print_name %></a>
          </li>
          <% end %>
        </ul>
      </li>


      <!-- Homeworks are going to show up after 6pm that day -->
      <!-- <li class="norange"><a href="#"><i class="icon-book"></i> Homework</a></li> -->
      <li class="has_submenu nlightblue hoverable">
        <a href="#">
          <!-- Menu name with icon -->
          <i class="icon-book"></i> Homework 
          <!-- Icon for dropdown -->
          <span class="pull-right hover-only">(<%= @active_school_day.homeworks.size %>)</span>
          <span class="pull-right no-hover-only"><i class="icon-angle-right"></i></span>
        </a>

        <ul>
          <% @active_school_day.homeworks.each_with_index do |homework, index| %>
          <li>
            <%= link_to homework.print_name, homework_path(homework) %>
          </li>
          <% end %>
        </ul>
      </li>

    </ul>

    <!-- Date -->

    <div class="sidebar-widget">
      <div id="todaydate"></div>
    </div>



  </div>

</div>

<!-- Sidebar ends -->
