<!-- Sidebar -->
<div class="sidebar sidebar-admin-fixed-left">
  <div class="sidebar-dropdown"><a href="#">Navigation</a></div>

  <div class="sidebar-inner" style="position: static;">

    <!--- Sidebar navigation -->
    <!-- If the main navigation has sub navigation, then add the class "has_submenu" to "li" of main navigation. -->
    <ul class="navi">

      <!-- Use the class nred, ngreen, nblue, nlightblue, nviolet or norange to add background color. You need to use this in <li> tag. -->

      <!-- <li>&nbsp;</li> -->
      <li class="nred day-title" style="background-color: rgb(220,220,220);">
          
        <span>
          <%= link_to '<i class="icon-caret-left dir-icon"></i>'.html_safe, school_day_path(@previous_school_day), class: "dir-icon" if @previous_school_day %>
        </span>

        <h2 class="less-padding inline"><%= link_to "Day #{@active_school_day.ordinal}", @active_school_day %></h2>
        
        <% if @next_school_day %>
          <% if (@next_school_day.calendar_date <= Date.today) || (can? :edit, @next_school_day) %>
            <span>
              <%= link_to '<i class="icon-caret-right dir-icon"></i>'.html_safe, school_day_path(@next_school_day), class: "dir-icon" if @next_school_day %>
            </span>
          <% end %>
        <% end %>
        
        <br>
        <% if @active_school_day.calendar_date == Date.today %>
          <span class="badge badge-warning pull-right"><strong>Today</strong></span>
        <% elsif @active_school_day.calendar_date < Date.today %>
          <span class="badge pull-right"><strong><%= distance_of_time_in_words(Date.today, @active_school_day.calendar_date) %> ago</strong></span>
        <% else %>
          <span class="badge pull-right"><strong><%= distance_of_time_in_words(Date.today, @active_school_day.calendar_date) %> from now</strong></span>
        <% end %>

        <h4 class="less-padding">Week <%= @active_school_day.week %></h4>
      
        <p>
          <%= @active_school_day.calendar_date.strftime("%A %B %d, %Y") %>
        </p>

      </li>

      <% material_type_list.each do |material_type_hash| %>

        <% material_icon   = material_type_hash[:icon] %>

        <% material_type   = material_type_hash[:name] %>
        <% material_types  = material_type.pluralize %>
        
        <% material_title  = material_capitalize(material_type) %>
        <% material_titles = material_title.pluralize %>

        <% material_class  = material_type.classify.constantize %>
        
        <% if material_type != "school_day" %>

            <% if material_class.all.sort_by {|m| m.print_name}.size > 0 %>
              <% color   = "nlightblue" %>
              <% submenu = "has_submenu" %>
            <% else %>
              <% color   = "" %>
              <% submenu = "no_submenu" %>
            <% end %>

            <li class="<%= submenu %> <%= color %> hoverable">
              <a href="#">
                <!-- Menu name with icon -->
                <i class="icon-<%= material_icon %>"></i> <%= material_titles %> 
                <!-- Icon for dropdown -->
                <span class="pull-right hover-only">(<%= material_class.all.sort_by {|m| m.print_name}.size %>)</span>
                <span class="pull-right no-hover-only"><i class="icon-angle-right"></i></span>
              </a>

              <ul>
                <li>
                  <a href='<%= self.send("#{material_types}_path") %>'>
                    <i class="icon-list"></i>
                    Show All
                  </a>
                </li>
                <% material_class.all.sort_by {|m| m.print_name}.each_with_index do |material, index| %>
                  
                  <% furthest_day_object = furthest_day_for_material(material) %>
                  <% day_for_material    = furthest_day_object.nil? ? "" : "Day #{furthest_day_object.ordinal}" %>

                  <li>
                    <a href='<%= self.send("#{material_type}_path", material) %>'>
                      <div class="row-fluid">
                        <div class="span9 sidebar_material_name no-height"><%= material.print_name   %></div>
                        <div class="span3 sidebar_day_for_material no-height"><%= "#{day_for_material}" %></div>
                      </div>
                    </a>
                  </li>
                <% end %>
              </ul>
            </li>
          
        <% end %>

      <% end %>

    </ul>

    <!-- Date -->

    <div class="sidebar-widget">
      <div id="todaydate"></div>
    </div>


  </div>

</div>

<!-- Sidebar ends -->
