<!-- Sidebar -->
<div class="sidebar">
    <div class="sidebar-dropdown"><a href="#">Navigation</a></div>

    <div class="sidebar-inner">

      <!--- Sidebar navigation -->
      <!-- If the main navigation has sub navigation, then add the class "has_submenu" to "li" of main navigation. -->
      <ul class="navi">

        <!-- Use the class nred, ngreen, nblue, nlightblue, nviolet or norange to add background color. You need to use this in <li> tag. -->

        <!-- <li>&nbsp;</li> -->
        <li class="nred day-title">
            <p>
              <h2 class="less-padding"><%= link_to "Day #{@school_day.ordinal}", @school_day %></h2>
              <h4 class="less-padding">Week <%= @school_day.week %></h4>
            </p>

            <p>
              <%= @school_day.calendar_date.strftime("%A %B %d, %Y") %>
            </p>

        </li>

        <!-- Add in Schedule eventually when we make it a model -->


        <!-- Menu with sub menu -->
        <li class="has_submenu nlightblue">
          <a href="#">
            <!-- Menu name with icon -->
            <i class="icon-folder-open"></i> Lectures 
            <!-- Icon for dropdown -->
            <span class="pull-right"><i class="icon-angle-right"></i></span>
          </a>

          <ul>
            <% @school_day.lectures.each_with_index do |lecture, index| %>
            <li>
              <%= link_to lecture.title, lecture_path(lecture) %>
            </li>
            <!-- <li class="active"><a href="widgets2.html">Widgets #2</a></li> -->
            <% end %>
          </ul>
        </li>

        <li class="has_submenu nviolet">
          <a href="#">
            <!-- Menu name with icon -->
            <i class="icon-pencil"></i> To-Dos 
            <!-- Icon for dropdown -->
            <span class="pull-right"><i class="icon-angle-right"></i></span>
          </a>

          <ul>
            <% @school_day.todos.each_with_index do |todo, index| %>
            <li>
              <%= link_to todo.name, todo_path(todo) %>
            </li>
            <% end %>
          </ul>
        </li>

        <li class="has_submenu nblue">
          <a href="#">
            <!-- Menu name with icon -->
            <i class="icon-user"></i> POTD 
            <!-- Icon for dropdown -->
            <span class="pull-right"><i class="icon-angle-right"></i></span>
          </a>
          <ul>
            <li class="norange">
              <%= link_to @school_day.potd.name, potd_path(@school_day.potd) if @school_day.potd %>
            </li>
          </ul>
        </li>

        <li class="has_submenu nred">
          <a href="#">
            <!-- Menu name with icon -->
            <i class="icon-laptop"></i> Labs 
            <!-- Icon for dropdown -->
            <span class="pull-right"><i class="icon-angle-right"></i></span>
          </a>

          <ul>
            <% @school_day.labs.each_with_index do |lab, index| %>
            <li>
              <%= link_to lab.name, lab_path(lab) %>
            </li>
            <% end %>
          </ul>
        </li>

<!--         <li class="has_submenu nviolet">
          <a href="#">
            <i class="icon-file-alt"></i> Pages #1
            <span class="pull-right"><i class="icon-angle-right"></i></span>
          </a>

          <ul>
            <li><a href="calendar.html">Calendar</a></li>
            <li><a href="post.html">Make Post</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="statement.html">Statement</a></li>
            <li><a href="error-log.html">Error Log</a></li>
            <li><a href="support.html">Support</a></li>
          </ul>
        </li> 

        <li class="has_submenu nblue">
          <a href="#">
            <i class="icon-file-alt"></i> Pages #2
            <span class="pull-right"><i class="icon-angle-right"></i></span>
          </a>
          
          <ul>
            <li><a href="error.html">Error</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="grid.html">Grid</a></li>
            <li><a href="invoice.html">Invoice</a></li>
            <li><a href="media.html">Media</a></li>
            <li><a href="profile.html">Profile</a></li>
          </ul>
        </li>  -->

        <li class="has_submenu ngreen">
          <a href="#">
            <!-- Menu name with icon -->
            <i class="icon-link"></i> Links 
            <!-- Icon for dropdown -->
            <span class="pull-right"><i class="icon-angle-right"></i></span>
          </a>

          <ul>
            <% @school_day.links.each_with_index do |link, index| %>
            <li>
              <%= link_to link.title, link.http_link(link.link_url),target: "_blank" %>
            </li>
            <% end %>
          </ul>
        </li>


        <!-- Homeworks are going to show up after 6pm that day -->
        <!-- <li class="norange"><a href="#"><i class="icon-book"></i> Homework</a></li> -->
        <li class="has_submenu norange">
          <a href="#">
            <!-- Menu name with icon -->
            <i class="icon-book"></i> Homework 
            <!-- Icon for dropdown -->
            <span class="pull-right"><i class="icon-angle-right"></i></span>
          </a>

          <ul>
            <% @school_day.homeworks.each_with_index do |homework, index| %>
            <li>
              <%= link_to homework.title, homework_path(homework) %>
            </li>
            <% end %>
          </ul>
        </li>

      </ul>

      <!-- Date -->

      <div class="sidebar-widget">
        <div id="todaydate"></div>
      </div>



    </div>

</div>

<!-- Sidebar ends -->
