<!DOCTYPE html>
<html lang="en-US">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <meta charset="UTF-8" />
  <meta name="viewport" content ="width=device-width, minimum-scale=1.0, initial-scale=1.0">

  <title>Syllaboss</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
<!--   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'> -->

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  
</head>

<body>

  <%= render "layouts/navbar" %>

  <!-- Begin Content -->
  <div class="container">
    <div id="user_header">
        <% if current_user %>
        Logged in as <%=current_user.email%>
          <%=link_to "Log Out", logout_path%>
        <% else%>
            <%= link_to "Sign Up", signup_path%> or
            <%= link_to "Log In", login_path%>
          <%end%>
        </div>

        <% flash.each do |name, msg|%>
          <%= content_tag :div, msg, id: "flash_#{name}"%>
        <%end%>

    <%= yield %>

  </div>
  <!-- End Content -->

  <%= render "layouts/footer" %>

</body>
</html>