<!DOCTYPE html>
<html lang="en-US">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <meta charset="UTF-8" />
  <meta name="viewport" content ="width=device-width, minimum-scale=1.0, initial-scale=1.0">

  <title>Syllaboss</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  
</head>

<body>

  <%= render "layouts/navbar" %>

  <!-- Begin Content -->
  <div class="content">

    <%= render "layouts/sidebar" %>
    
    <div class="mainbar">
        <%= yield %>
    </div>
  
  </div>
  <!-- End Content -->

  <%# render "layouts/footer" %>

</body>
</html>