<!DOCTYPE html>
<html lang="en-US">
<head>
  <link href="/favicon.ico" rel="icon" type="image/x-icon" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <meta charset="UTF-8" />
  <meta name="viewport" content ="width=device-width, minimum-scale=1.0, initial-scale=1.0">
  
  <% num_unread_notifications = current_user.admin? ? @all_unread.size : @unread.size %>
  <% all_unread = @unread_comments.size + num_unread_notifications %>
  <% unread_show = all_unread==0 ? "" : "(#{all_unread})" %>

  <title><%= unread_show %> Syllaboss <%=("- #{yield(:title)}" if yield(:title).length>0)  %></title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  
</head>

<body>

  <%= render "layouts/navbar" %>

  <!-- Begin Content -->
  <div class="content">
    
    <% if current_user && current_user.admin? %>
      <%= render "layouts/sidebar_admin" %>
    <% else %>
      <%= render "layouts/sidebar" %>
    <% end %>
    
    <div class="mainbar">

      <%= yield %>

    </div>
  
  </div>
  <!-- End Content -->

  <%= render "layouts/announcements_box" %>

  <!-- Scroll to top -->
  <span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span> 

  <%= javascript_include_tag "application" %>

</body>
</html>